# Docker related files
Dockerfile
.dockerignore

# Logs and databases
*.log

# Dependency directories
node_modules
.cache

# Build output
dist
site
build

# Git related
.git
.gitignore
.gitattributes

# CI/CD
.gitlab*

# Config files
.editorconfig
.prettierrc.*
.pretter*
.eslint
.eslint.*

# Project information
*.md
README
LICENSE

# Other
docker
